__pycache__/
.ipynb_checkpoints/
*.bag
*.bag.active
checkpoints/
dataset1/
dataset2/
data_0106/
data_0506/
Data/
*log_long.csv
testCorridor/
testLOS/
test_runtime/
test_vicon/
util/
doc0/
DeepAOAclassifier.py
DeepAOAgui.py
*.ipynb
